<nav class="navbar navbar-dark bg bg-dark mb-4">
    <ul class="navbar-nav mr-auto mx-4">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
        </li>
    </ul>
    <div class="navbar-nav mx-5">
        <div class="row">        
            <a class="nav-link col-6" routerLink="login" *ngIf="!(loggedIn$ | async)">Login</a>   
            <a class="nav-link col-6" routerLink="register" *ngIf="!(loggedIn$ | async)">Register</a>   
         </div> 
        <a class="nav-link" routerLink="/" *ngIf="(loggedIn$ | async)" (click)="logout()">Logout</a>
       
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
